# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtualenv
.venv/
venv/
env/

# Env & secrets
.env
*.key

# IDE
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Logs / DB local
*.log
*.sqlite3
